# Copy this file to .env and fill in your values.
PORT=
DATABASE_URL=
SHADOW_DATABASE_URL=
SECRET_KEY=
FRONTEND_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=
STRIPE_PUBLISHER_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_ENDPOINT=
ZOOM_ACCOUNT_ID=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
ZOOM_SECRET_TOKEN=
ZOOM_VERIFICATION_TOKEN=
COACH_ACADEM_RESEND_API_KEY=
COACH_ACADEM_RESEND_EMAIL=
NAMECHEAP_EMAIL=
NAMECHEAP_EMAIL_PASSWORD=
APP_VERIFY_BASE_URL=
APP_VERIFY_REDIRECT_SUCCESS_URL=
APP_VERIFY_REDIRECT_ERROR_URL=
APP_LATEST_VERSION=
MONGO_URL=
